client_id= # id из Ozon Seller
token= # token из Ozon Seller
DB_PATH= # dafault: ./data/app.db -> путь к базе данных sqlite
# AUTORUS_LOGIN= # логин для авторизации в Autorus - отключено, так как авторизация в Autorus может быть нестабильной
# AUTORUS_PASSWORD= # пароль для авторизации в Autorus  - отключено, так как авторизация в Autorus может быть нестабильной
warehouse_id= # id склада

# optional parameters for Telegram bot
tg_bot_token= # токен Telegram бота
tg_chat_id= # id чата в Telegram
tg_topic_id= # id топика в Telegram

# tg_proxy=socks5://{username}:{password}@{ip}:{port} - прокси для подключения к Telegram (раскомментировать и заполнить при необходимости)